.basic-grid {
  display: grid;
  gap: 1rem;

  /* repeat function, auto-fit to calculate number of rows and columns on the fly, with a minimum of 240px width and maximum width of what 1fr would allow */
  /* conversely auto-fill will create additional columns when there is additional space */
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
 }